@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Apply the night sky background to the entire website */
body {
  background: url('/nightsky2.webp') no-repeat center center fixed;
  background-size: cover;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.glass-effect {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.glow-text {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
}

.particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.particle {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  opacity: 0.7;
  animation: float 10s infinite ease-in-out;
}

@keyframes float {
  0% {
    transform: translateY(0);
    opacity: 0.5;
  }

  50% {
    transform: translateY(-100px);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 0.5;
  }
}

.flip-card {
  perspective: 1000px;
  margin-bottom: 2rem;
  min-width: 450px;
  min-height: 300px;
  /* Add space between cards */
}

.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}


.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card-innermost {
  position: absolute;
  width: 450px;
  height: 300px;
}

.work-image {
  width: 450px;
  height: 300px;
}